<GridLayout>
    <ListView
    [items]="items">

        <template let-item="item">
            <GridLayout
                columns="*, auto"
                class="container">
                <StackLayout
                    col="0"
                    orientation="vertical">
                    <Label [text]="item.peripheral.name">
                    </Label>
                    <Label [text]="item.distance">
                    </Label>
                    <Label [text]="item.minor">
                    </Label>
                    <Label [text]="item.major">
                    </Label>
                </StackLayout>
            </GridLayout>
        </template>
    </ListView>
</GridLayout>