.form-controls,
.sign-up-stack {
    opacity: 0;
}

.background {
    background-image: url("res://bg_login");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.initial-container {
    margin-top: 170;
}

.initial-logo {
    horizontal-align: center;
    margin-bottom: 10;
}

.initial-label {
    color: white;
    horizontal-align: center;
    margin-bottom: 80;
}

.initial-button {
    background-color: white;
    color: #66CCCC;
    height: 45;
    width: 275;
    vertical-align: center;
}

.initial-button-label {
    horizontal-align: center;
    font-weight: bold;
}

.main-container {
    visibility: collapse;
    opacity: 0;
    margin-left: 30;
    margin-right: 30;
    background-color: white;
}

.main-label {
    horizontal-align: center;
    color: black;
}

Image {
    margin-top: 5;
    margin-bottom: 20;
}

Button,
TextField {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
}

TextField {
    color: black;
    placeholder-color: #92c9c9;
}

TextField.light {
    color: #a3e0e0;
    placeholder-color: #a3e0e0;
}

.submit-button {
    background-color: #66CCCC;
    color: white;
    margin-top: 20;
}

.forgot-password-label {
    font-size: 13;
    margin-left: 20;
    margin-bottom: 45;
    color: black;
}

.sign-up-stack {
    background-color: #6699cc;
}

.sign-up-stack Label {
    color: white;
    horizontal-align: center;
    font-size: 15;
}

.logo-container {
    visibility: collapse;
    horizontal-align: center;
    opacity: 0;
}